<section id="home">
<div class="row" id="main">
    <div class="col-md-3">
      <div class="thumbnail">
        <img ng-src={{product.photo}}>
        <div class="caption" style='text-align: center'></div>
      </div>
    </div>
    <div class="col-md-6">
        <h2>{{product.name}}</h2>
        <h5>${{ product.price }}</h5>
        <h4>This delicacy's type is {{ product.type }}!</h4>
        <h2>{{ product.quantity }}</h2>
        <p>{{ product.description }}</p>
<!--         <span ng-repeat='tag in product.tags'><a ui-sref="home({tag: tag})">{{ tag }}{{ $last ? '' : ', ' }}</a></span> -->
    </div>
    <div class="col-md-3">
      <div class="thumbnail">    
          <span style="font-weight:bold; text-align:center">Your Cart:</span><br>
            <div ng-repeat="product in currentCart" style="display:inline">
              <p>{{ product.quantity }} x <a ui-sref="productDetail({id: product.id})">{{ product.name }}</a> = ${{product.subtotal}}</p>
            </div>
          <!-- 5 just a placeholder for now while trying to figure out how this works -->
          <p><a ui-sref="cart" ng-click="addToCart(orderId, product)" class="btn btn-primary" role="button">Add to Cart</a> Total: ${{ totalCost }}</p> 
      </div>
    </div>
</div>

</section>

