<div id="home">
  <div class="col-md-4">
  <h1>Order Summary</h1>
    <div class="thumbnail">
        <span style="font-weight:bold; text-align:center">Your Cart:</span><br>
          <div ng-repeat="product in currentCart" style="display:inline; font-size: 20pt;">
            <p>{{ product.quantity }} x <a ui-sref="productDetail({id: product.id})">{{ product.name }}</a> = ${{product.subtotal}}</p>
          </div>
          <p><a ui-sref="cart" class="btn btn-primary" role="button">Edit Cart</a></p>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Shipping Addresses</h1>
    <div class="radio">
      <div ng-repeat= 'address in addresses'>
        <label>
          <input type="radio" name="optionsRadio" id="address.id" value="address.id"> {{address.line1}}, {{address.line2}}, {{address.city}}, {{address.state_region}}, {{address.zipcode}}, {{address.country}}
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success" ng-click = complete(currentOrderId)>Complete Order</button>
  </div>
</div>
