<section id="home">
  <div class="input-group" id="fixedElement">
    <span class="input-group-addon" id="pokeSearch">Pokemon</span>
    <input type="text" class="form-control" placeholder="Pokemon" ng-model="pokeSearch">
  </div>
  <br>
  <div class="row">
      <div class = "col-md-1">
      <productfilter toggle-filter="toggleFilter(type, event)" clear-filters="clearFilters()"></productfilter>
      </div>
      <div class = "col-md-10">
        <div ng-repeat="product in pokemon | filter: pokeSearch">
          <div class="clearfix" ng-if="$index % 3 == 0"></div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img ng-src={{product.photo}}>
              <div class="caption" style='text-align: center'>
                <h3>{{product.name}}</h3>
                <span>${{product.price}}</span>
                <p><a ui-sref="productDetail({id : product.id })" class="btn btn-default" role="button">View Details</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>
