* {
  box-sizing: border-box;
}

productfilter {
  position: fixed;
  display: "block";
}

#searchBox {
  padding-left: 15px;
  padding-top: 10px;
}

navbar {
  position: fixed;
  width: 100%;
  display: "block";
  z-index: 9;
}

#home {
  padding-top: 140px;
  padding-right: 20px;
}



.tooltip {
  display:none;
  position:absolute;
  border:1px solid #333;
  background-color:#161616;
  border-radius:5px;
  padding:10px;
  color:#fff;
  font-size:12px Arial;
}

.typeIcons {
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  li {
    display: flex;
    margin: 0;
    button {
      padding: 0;
    }
    button:hover {
      background: #d3d3d3;
    }
    button:active {
      background: #2f4f4f;
    }


  }
}

body {
  background: #fdfdfd;
}

#main {
  padding-right: 50px;
  padding-left: 50px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.cartrow {
  float: right;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
